<footer class = "text-white " id="about">
    <div class="container-fluid text-md-left">
        <div class="row">
            <div class="col-1 h-25">
                <img src="/img/Logo-sena.png" class="mainlogo" style="object-fit: cover;" alt="">
            </div>
            <div class="col-6 pt-3 pl-5 h-25" style="border-right: 1px solid rgb(255, 255, 255);">
                <h5>Servicio Nacional de Aprendizaje SENA-CENTRO DE DISEÑO Y MANUFACTURA DEL CUERO</h5>
                <br>
                <h6>Dirección: Calle 63 # 58B - 03 Itagüí Calatrava-Teléfono 5149280 ext. 43168</h6>
                <h6>Atención telefónica: lunes a viernes 7:00 a.m. a 7:00 p.m. - sábados 8:00 a.m. a 1:00 p.m.</h6>
            </div>
                
            <div style="text-align: center;" class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-5 w-25 correction-footer ">
                <a href=""><img src="/img/facebook.png" alt="" class="contacticons"></a>
                <a href=""><img src="/img/twitter.png" alt="" class="contacticons"></a>
                <a href=""><img src="/img/youtube.png" alt="" class="contacticons"></a>
                <a href=""><img src="/img/instagram.png" alt="" class="contacticons"></a>
                <p style="text-align: center;">@senacomunica</p>
            </div>
        </div>
    </div>
</footer>