<div class="container text-center text-primary p-5">
    <h2>Blog</h2>
</div>

<div class="container p-4">
    <div class="row">
        <div class="shadow card p-2 m-4" style="width: 20rem;">
            <img src="/img/caracterización-del-pie-colombiano.png" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">Caracterización del pié Colombiano</h5>
                <p> Se puede afirmar que la mayoría de
                    las personas en el Valle del Cauca
                    tienen pie egipcio, es decir el dedo</p>
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>
        <div class="shadow card p-2 m-4" style="width: 20rem;">
            <img src="/img/HORMA-N-A.png" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">Calzado personalizado</h5>
                <p> Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aliquam
                    consequat ac enim ac mollis. Integer</p>
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>

        <div class="shadow card p-2 m-4" style="width: 20rem;">
            <img src="/img/suela-antibacterial.png" class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">Suela antibacterial</h5>
                <p> Se puede afirmar que la mayoría de
                    las personas en el Valle del Cauca
                    tienen pie egipcio, es decir el dedo</p>
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>

    </div>
</div>