<div class="container-fluid p-0">
    <img src="/img/cnc-alejado.jpg" class="img-fluid home-section-1" alt="">
</div>

<div class="container-fluid p-5 ">
    <div class="container">
        <div class="row">
            <div class="col text-primary" style="max-height: 20rem;">
                <h2 class="fw-bold" style="font-size: 8rem;">SOMOS</h2>
            </div>
            <div class="col" style="max-height: 20rem;">
                <h5 class="display-5 text-secondary" style="font-size: 1.3rem;">
                    El fabla del centro de diseño y marroquinería del cuero nace
                    en el 2020 para fortalecer la formación de aprendices SENA
                    y fomentar procesos de innovación, investigación, creación y
                    capacitación técnica de integrando en un ambiente de
                    laboratorio tecnologías CNC, impresión 3D, escaneo 3D,
                    realidad virtual y aumentada y digitalización de la
                    información. Estamos ubicados en el SENA de Calatrava,
                    centro de Diseño y manufactura del cuero.
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light text-center p-5">
    <h2 class="fw-bold text-primary">
        Objetivos
    </h2>
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <h4 class="text-secondary">Generar proyectos</h4>
                <img src="/img/fortalecer(2).png" style="width: 8rem;"alt="">
            </div>
            <div class="col">
                <h4 class="text-secondary">Fortalecer la formación de los aprendices</h4>
                <img src="/img/fortalecer(1).png" style="width: 8rem;" alt="">
            </div>
            <div class="col">
                <h4 class="text-secondary">Brindar servicios al sector empresarial</h4>
                <img src="/img/fortalecer(3).png" style="width: 8rem;" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 home-section-2">
    <div class="text-white container pt-5">
        <h2 class="pt-5 h1">Queremos ser</h2>
    </div>
    <div class="text-white container pt-5" >
        <h3 class="display-6" style="font-size: 1.3rem;">Un fab lab que sea un punto de referencia para las demás instituciones SENA, con liderazgo en la elaboración
            de productos de calzado y marroquinería, bajo conceptos de innovación, investigación, personalización
            y represente un componente diferenciador para el centro de formación como un espacio de apropiación para
            que los aprendices desarrollen productos en marco de este.
        </h3>
    </div>
</div>
<br>