<div class="container-fluid p-5 proyects-header">
    <div class="container text-center text-white p-5">
        <h2 class="h1">Proyectos</h2>
    </div>
</div>

<div class="container p-5 text-center d-flex justify-content-center">
    <div class="container  p-5 text-center proyects1 text-white ">
        <h3>
            Generar un modelo de realidad virtual de pie parametrizado
            a partir de antropometría y digitalización 3D para el diseño
            y prototipado de hormas ergonómicas de calzado
        </h3>
        <br>
        <button class="btn btn-light text-primary btn-block">Ver mas</button>
    </div>
</div>

<div class="container p-5 text-center d-flex justify-content-center">
    <div class="container shadow-sm  p-5 text-center text-secondary">
        <div class="row">
            <div class="col">
                <img src="/img/proyectos2.png" style="width: 25rem;" alt="">
            </div>
            <div class="col">
                <h5>
                    Producir nanocompuestos poliméricos y de caucho usando
                    nanopartículas metálicas para obtener materiales con
                    propiedades antibacteriales para aplicación en productos
                </h5>
                <br>
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>

    </div>
</div>


<div class="container p-5 text-center d-flex justify-content-center">
    <div class="container  p-5 text-center proyects3 text-white ">
        <h3>
            Desarrollo de componentes de calzado
            para patologías del pie.
        </h3>
        <br>
        <button class="btn btn-light text-primary btn-block">Ver mas</button>
    </div>
</div>