<div class="container-fluid p-5 services-header">
    <div class="container p-5">
        <h2 class="text-white text-center" style="font-size: 3rem; font-weight: bold;">Servicios técnicos</h2>
    </div>
</div>

<div class="container p-5">
    <div class="container text-center text-primary">
        <h3 style="font-weight: bold; font-size: 2.5rem;">Impresión 3D</h3>
    </div>
    <div class="container-fluid">
        La impresión 3D es un grupo de tecnologías de fabricación por adición capaz de crear un objeto tridimensional mediante la superposición de capas
        sucesivas de un determinado material. Un proceso por el que se crean objetos físicos a través de la colocación de un material en capas a partir de un
        modelo digital, en el SENA contamos con 4 impresoras cada brinda una condición diferente según la necesidad del producto.
    </div>
    <div class="container-fluid">
        <div class="row m-2">
            <div class="col text-center">
                <img src="/img/impresora1.png" style="width: 10rem; height: auto;" alt="">
                <br>
                <button class="btn btn-primary btn-block m-5">Ver más</button>
            </div>
            <div class="col text-center">
                <img src="/img/impresora2.png" style="width: 15rem; height: auto;" alt="">
                <br>
                <button class="btn btn-primary btn-block m-5">Ver más</button>
            </div>
            <div class="col text-center">
                <img src="/img/impresora3.png" style="width: 10rem; height: auto;"alt="">
                <br>
                <button class="btn btn-primary btn-block m-5">Ver más</button>
            </div>
            <div class="col text-center">
                <img src="/img/impresora4.png" style="width: 10rem; height: auto;"alt="">
                <br>
                <button class="btn btn-primary btn-block">Ver más</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light p-5">
    <div class="row">
        <div class="col text-center">
            <img src="/img/cnc.png" style="width: 30rem;" alt="">
        </div>
        <div class="col p-5">
            <div class="container-fluid p-2 text-center text-secondary">
                <h3 style="font-weight: bold;">Control numerico</h3>
            </div>
            <div class="container-fluid text-secondary">
                <h4 class="h5">
                    El control decimal numérico (CNC) es un sistema de tu muerte
                    automatización de máquinas herramienta operadas mediante
                    comandos programados en un medio de almacenamiento. 
                    <br>
                    <br>
                    El sistema se basa en el control de los movimientos de la
                    herramienta de trabajo con relación a los ejes de coordenadas
                    de la máquina, usando un programa informático ejecutado por
                    una computadora.
                </h4>
            </div>
            <div class="container p-5 text-center">
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  p-5">
    <div class="row">
        <div class="col p-5">
            <div class="container-fluid p-2 text-center text-primary">
                <h3 style="font-weight: bold;">Torno convencional</h3>
            </div>
            <div class="container-fluid text-secondary">
                <h4 class="h5">
                    El torno convencional es un conjunto de máquinas y
                    herramientas que permiten mecanizar, roscar, cortar,
                    agujerear, cilindrar, desbastar y ranurar piezas de forma
                    geométrica por revolución. Estas máquinas-herramienta operan
                    haciendo girar la pieza a mecanizar (sujeta en el cabezal o
                    también llamado chuck fijada entre los puntos de centraje)
                    mientras una o varias herramientas de corte son empujadas en
                    un movimiento regulado de avance contra la superficie de la
                    pieza, cortando la viruta de acuerdo con las condiciones
                    tecnológicas de mecanizado adecuadas.
                </h4>
            </div>
            <div class="container p-5 text-center">
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>
        <div class="col">
            <img src="/img/torno-cj.png" style="width: 30rem;" alt="">
        </div>
    </div>
</div>

<div class="container-fluid bg-light p-5">
    <div class="row">
        <div class="col text-center">
            <img src="/img/Maquina-laser.png" style="width: 30rem;" alt="">
        </div>
        <div class="col p-5">
            <div class="container-fluid p-2 text-center text-secondary">
                <h3 style="font-weight: bold;">Maquina de corte laser</h3>
            </div>
            <div class="container-fluid text-secondary">
                <h4 class="h5">
                    El corte láser es un tipo de proceso de separación térmica. El
                    rayo láser incide en la superficie del material y lo calienta con
                    tanta fuerza que se derrite o se vaporiza por completo. Una vez
                    que el rayo láser ha penetrado completamente en un punto del
                    material, comienza el proceso de corte real.
                </h4>
            </div>
            <div class="container p-5 text-center">
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  p-5">
    <div class="row">
        <div class="col p-5">
            <div class="container-fluid p-2 text-center text-primary">
                <h3 style="font-weight: bold;">Maquina de corte Oscilante</h3>
            </div>
            <div class="container-fluid text-secondary">
                <h4 class="h5">
                    Los modelos Easy 222 y Easy 888 se adaptan plenamente a las
                    necesidades de multitud de sectores industriales: calzado,
                    marroquinería, automoción, naval, climatización, embalajes,
                    transformación de materiales, artes gráficas, etc, y están
                    concebidos para las exigencias de corte de prototipos, muestras
                    y pequeños pedidos productivos. Aunque su sencillez de
                    manejo, capacidad y altas prestaciones de corte les permiten
                    incluso cubrir necesidades de producción en pedidos medianos
                    y grandes. Permiten cortar cualquier tipo de material flexible
                    por delicado o duro que se presente, desde la piel hasta el
                    crupón así como sintéticos del tipo, espumas, tejidos, foam,
                    plásticos, fibras composites, gomas, cauchos, cartón, etc.
                </h4>
            </div>
            <div class="container p-5 text-center">
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>
        <div class="col">
            <img src="/img/oscilante.png" style="width: 30rem;" alt="">
        </div>
    </div>
</div>

<div class="container-fluid bg-light p-5">
    <div class="row">
        <div class="col text-center">
            <img src="/img/escaner.png" style="width: 30rem;" alt="">
        </div>
        <div class="col p-5">
            <div class="container-fluid p-2 text-center text-primary">
                <h3 style="font-weight: bold;">Escaneo tridimensional de morfología del pie y las hormas</h3>
            </div>
            <div class="container-fluid text-secondary">
                <h4 class="h5">
                    El escáner MSoft permite el escaneo del cuerpo humano para la
                    industria ortoprotésica, obtendrás datos precisos del cuerpo
                    humano en 3D para su estudio y producción. En el fab lab lo
                    utilizamos para tomar las medidas de los pies, actualmente
                    estamos culminado un proyecto de caracterización del pie
                    colombiano, para la creación de hormas ergonómicas, además
                    podemos crear con calzado personalizado.
                </h4>
            </div>
            <div class="container p-5 text-center">
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  p-5">
    <div class="row">
        <div class="col p-5">
            <div class="container-fluid p-2 text-center text-primary">
                <h3 style="font-weight: bold;">Analisis de presiones plantares</h3>
            </div>
            <div class="container-fluid text-secondary">
                <h4 class="h5">
                    El análisis dinámico de las presiones plantares, denominado
                    también Baropodometría electrónica o dinámica, mide los
                    parámetros de apoyo del pie durante la marcha. En la
                    conclusión se destacará la aportación decisiva de la
                    exploración en el análisis de la marcha normal y patológica.
                </h4>
            </div>
            <div class="container p-5 text-center">
                <button class="btn btn-primary btn-block">Ver mas</button>
            </div>
        </div>
        <div class="col">
            <img src="/img/plantares.png" style="width: 30rem;" alt="">
        </div>
    </div>
</div>
